body {
    padding: 10px 5px;
    box-sizing: border-box;
}

.container {
    width: auto;
    max-width: 420px;
    min-width: 100px;
    height: auto;
    padding: 10px 10px;
    background-color: #ddffdd;
}

table {
    margin: 0 auto;
}

h1 {
    font-size: 22px;
    text-decoration: underline;
}

td {
    width: auto;
    min-width: 160px;
    padding: 5px 10px;
}

tr:nth-child(2n+1) {
    background-color: #bbbbff;
}

tr:nth-child(2n+2) {
    background-color: #eeeeff;
}